body {
    background-color:#1E1E1E;
  }
  h1 {
    margin-top:0;
    font-size:1.9em;
  }
  h4 {
    color:#00bd3f;
    text-align:center;
    font-size:.8em;
    margin:0;
    font-weight:400;
    margin-top:20px;
  }
  .bottom {
    background-color:#00bd3f;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    align-items:center;
    text-align:center;
    font-size:23px;
    color:white; 
    height:80px;
  }
  .bottom > div {
      height: 100%;
      display: grid;
      grid-template-rows: 22px 23px;
      align-content: center;
  }
  .bottom sup {
    font-size:14px;
  }
  
  .card {
    width:300px;
    display:grid;
    grid-template-rows:210px 1fr 80px;
    background-color:white;
    border-radius:15px;
    overflow:hidden;
    margin:0 auto;
  }
  .card .image {
    width:100%;
  }
  .card .main {
    text-align:center;
    margin-bottom:25px;
    font-family: 'Roboto Slab', serif;
  }
  
  .card {
    
    cursor: pointer;
  }
  .main p {
      color: #8b808b;
      line-height: 1.3em;
      width: 80%;
      margin: 0 auto;
      font-size: 1em;
    font-weight:400;
  }
  .bottomtext {
    text-transform:uppercase;
    font-size:.5em;
    align-self:center;
  }
  .middle {
    border:solid 1px grey;
    border-bottom:none;
    border-top:none;
  }